nav {
   background-color: #1D1D1D;


}



.nav-item a {
   font-size: 16px;
   letter-spacing: 0.5;
   font-weight: 500;
}

ul li a:hover {
   color: #81E600 !important;
}

.search-cart {
   width: 150px;
   gap: 0px 45px;
   display: grid;
   grid-template-columns: 4fr 4fr 4fr;
   margin-right: 30px;
}

.carousel-indicators button[data-bs-target="#carouselExampleAutoplaying"]:focus {
   background-color:#81E600 ;
}

.shipping.mx-5 {
   background-color: #FAFAFA;
   margin-top: 22px;
   padding: 15px 0px 7px 80px;
   border-radius: 6px;

}

.shipping.mx-5 span {
   margin-right: 240px;
   /* line-height: 85px; */
   font-size: 16px;
   font-weight: 400;
   color: #111111;
}

.shipping.mx-5 span:last-child {
   margin-right: 13px;

}

.shipping.mx-5 span img {
   margin-right: 14px;
}

.audio-power {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.audio-power img {
   border-radius: 8px;
}

.award-oraimo {
   margin-top: 30px;
}

.new-arrival h1 {
   font-size: 1px;
   color: red;
}

.super-new-arrival {
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
}

.sub-new-arrival {
   width: 300px;
   background-color: #f8f8f8;
   border-radius: 10px;
   height: 320px;
   margin-bottom: 200px;

}

.sub-new-arrival img {
   width: 100%;
   padding: 20px 10px;



}

.span-sna h6 {
   font-size: 12px;

   line-height: 24px;
   font-weight: 600;
   /* border-bottom: 1px solid #f8f8f8; */
   padding-bottom: 4px;
   transform: translateY(12px);
}

.p-sna p {
   font-size: 12px;
   transform: translateY(-22px);
}

.hr-one {
   transform: translateY(-48px);

}

.second-p {
   margin-top: -44px;
}


.p-sna img {
   width: 40px;
}

.star {
   margin-top: -60px;
}

.star i {
   color: gold;
}

.star span {
   font-weight: 500;
}

.star s {
   color: gray;
   display: block;
   transform: translate(100px, -27px);
   font-size: 12px;
}

.trusted {
   margin-top: 30px;
}


.trusted img {
   width: 100%;
}

.grid-or-flex {
   background-color: #F5F6F6;
   height: 900px;


}

.grid-or-flex h5 {
   transform: translateY(20px);
}

.master-grid {
   display: flex;
   gap: 25px;
   flex-wrap: wrap;
}

.thegrid {
   margin-top: 24px;
   /* height: 250px;
   width: 425px;
   background-color: white; */
   border-radius: 8px;
   background-color: white;
   width: 450px;
   align-items: center;
   justify-content: center;

}

.thegrid:nth-child(1) img {
   width: 400px;
}

.thegrid:nth-child(1) {}





.thegrid:nth-child(2) {
   width: 410px;
   height: 230px;
}

.thegrid:nth-child(3) {
   width: 410px;
   height: 230px;

}

.thegrid:nth-child(4) {
   width: 410px;
   height: 230px;
   transform: translate(476px, -275px);
}

.thegrid:nth-child(5) {
   width: 410px;
   height: 480px;

   transform: translate(476px, -275px);
   /* height: 500px; */

}

.thegrid img {
   width: 300px;
   margin-left: 45px;
   margin-top: -45px;
}


.thegrid:nth-child(6) {
   width: 450px;
   height: 230px;
   transform: translate(-870px, -25px);

}

.thegrid:last-child {
   transform: translate(476px, -555px);
   width: 410px;
   height: 230px;

}

.thegrid h6 {
   width: 85%;
   font-size: 16px;
   padding: 20px;
   font-weight: 400;
}

.oraimoclub i {
   font-size: 23px;

}

.oraimoclub span {
   font-size: 36px;
   line-height: 54px;
   font-weight: 500;

}

.oraimoclub a {
   text-decoration: none;
   background-color: black;
   color: white;
   padding: 6px;
   border-radius: 10px;
   font-size: 16px;
   line-height: 24px;
   font-weight: 550;

   /* transform: translate(-245px , 34px); */
}

.oraimoclub p {
   margin-top: 12px;
   line-height: 30px;
   font-size: 20px;
   font-weight: 450;
}

.newsletter {
   margin: auto;
}

.newsletter h3 {
   font-size: 23px;
   line-height: 36px;
   margin: 21px 0px;
   padding: 4px;
   margin-left: 600px;

}

.newsletter span {
   line-height: 34px;
   font-size: 14px;
   color: #979797;
   margin-left: 330px;

}

.newsletter input {
   width: 750px;
   border: 1px solid gray;
   border-radius: 12px;
   padding: 6px;
}

.newsletter button {
   border: none;
   margin-left: -15px;
   background-color: black;
   height: 48px;
   width: 60px;
   border-top-right-radius: 18px;
   border-bottom-right-radius: 18px;
   transform: translateY(1px);
}

.newsletter p {
   margin-left: 520px;
   line-height: 27px;
   font-size: 18px;
   color: #333333;
   padding: 20px 0px 30px;
}

.newsletter i {
   color: white;
   font-size: 23px;
}

.follow-us{

background-color: #191919;
color: white;
padding: 8px 0px;
}

.follow-us h4{
   font-size: 16px;
   line-height: 24px;
   margin-left: 650px;
}

#dem-social-apps{
   margin-left: 500px;
}

#dem-social-apps i{
   font-size: 30px;
   margin-right: 62px;
}

#dem-outline{
   background-color: #000000;
   color: white;
   display: flex;
   gap: 100px;

}

#sub-outline{
margin-left: 3rem;
margin-top: 15px;


}

#sub-outline h5{
   font-size: 16px;
   line-height: 24px;
   font-weight: 500;
}

.cut-p{
   width: 250px;
}

#sub-outline a{
text-decoration: none;
color: #B3B3B3;
display: block;
margin-bottom: 12px;
}


.almighty-footer{
   background-color: #191919;
   padding: 10px 0px;
   color: #fff;
}

#footer img{
   margin-left: 650px;
}

#footer p{
   margin-left: 600px;
}
